################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cafeteria/.vs/Cafeteria/FileContentIndex/8bc30cf6-3508-4bb2-ac38-0ad0d4ee5317.vsidx
/Cafeteria/.vs/Cafeteria/FileContentIndex
